.admin-dashboard-container{
    // height: 100vh;
    text-align: center;
    width: 85%;
    margin: 3em auto ;
    .cards-container{
        margin-top: 5em;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
        justify-content: center;
        align-items: center;
        justify-items: center;
        gap: 2em;
    }
    .admin-option-card{
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
        height: 30vh;
        display: grid;
        align-items: center;
        margin: auto;
        background-color: $primary-orange;
    }
}

