.login-container-form{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 20px;
    
    .img-right{
        img{
            width: 100%;
        }
    }
    
    .login-form-container{
        margin:  auto 2rem;
    }
    
    
}

@media (max-width:900px) {
    .login-container-form{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
}